<div class="row">

    <div class="row">
        <div class="large-12 columns">
            <h2>{{videoView.project.title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <video
                    class="video-js vjs-default-skin"
                    controls
                    preload="none"
                    width="100%"
                    height="666"
                    v-video
                    project-id="{{videoView.projectId}}">
            </video>
        </div>
    </div>

</div>
